header{
    display: flex;
   justify-content: space-around;
}
ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
.list1{
    margin-right: 50px;
}
.list2{
    margin-right: 50px;
}

.list3{
    margin-right: 50px;
}

.list4{
    margin-right: 50px;
}

.list5{
    margin-right: 50px;
}

.list6{
    margin-right: 50px;
}
header{
    background:black ;
    color: whitesmoke;
    padding: 17px;
    justify-content: space-between;
}
h1{
   display: flex;
   justify-content: space-around; 
}
h4{
display: flex;
   justify-content: space-around;
}
h2{
   
   padding-left: 70px;
   padding-top: 80px;
   font-size: 30px;
    
}
h3{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 30px;
}
h4{
   color: black;
}
.main-part{
    background-image: url(.//открытка\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
}
button{
 margin-left: 100px;
}

.features {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 40px 0;
}
.feature-box {
    width: 230px;
    background: #2c3e73;
    color: white;
    padding: 25px 20px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid black;
}

.feature-box .icon {
    font-size: 40px;
    margin-bottom: 15px;
}
.feature-box h3 {
font-size: 18px;
margin-bottom: 10px;
}
.feature-box p {
    font-size: 14px;
    margin-bottom: 15px;
}
.feature-box button {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.feature-box:hover{
    background-color: rgb(36, 156, 100);
}
.feature-box button:hover {
    background-color: red;
}
.type{
    margin-left: 200px;
}
.main8 img{
    border: 3px solid black;
}
.types{
    margin-left: 150px;
}
.levels{
    margin-left: 200px;
}
.main-opt{
    display: flex;
}
.main-opt :hover{
    background-color: rgb(82, 115, 224);
}
.phone{
    display: flex;
    justify-content: space-around;
}
img{
    height: 250px;
    width: 230px;
}
.headphone{
    border: 3px solid black; 
}
.keep {
    border: 3px solid black;
}
.iphone {
    border: 3px solid black;
}
.sumsung {
    border: 3px solid black;

}
